@page "/counter"
@using Tatneft.Data;
    <AuthorizeView>
        <Authorized>
            <h1>Counter</h1>

            <p>Current count: @currentCount</p>

            <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        </Authorized>
        <NotAuthorized>
            <h1>
                Вы не авторизованы
            </h1>
        </NotAuthorized>
    </AuthorizeView>


@code {
    private int currentCount = 0;
    public int regError;

    private void IncrementCount()
    {
        currentCount++;
    }
}


