@page "/"
@using Tatneft.Components


<h1>Самый лучший в мире сайт</h1>
<AuthorizeView>
    <Authorized>
        @context.User.Identity.Name авторизован(а), поэтому видите это сообщение
    </Authorized>

    <NotAuthorized>
        Вы НЕ авторизованы, поэтому видите это сообщение
    </NotAuthorized>
</AuthorizeView>


