@using Tatneft.Data
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://localhost:44322/swagger/index.html"> Documentation </a>
        <AuthorizeView>
            <Authorized>
                <a href="/" @onclick="(() => Logout())">Logout</a>
            </Authorized>
            <NotAuthorized>
                <a href="/">Login</a>
                <a href="/signup">Sign Up</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    //Маркирует пользователя как не аторизованного при выходе из аккаунта
    public async Task Logout()
    {
        try
        {
            //await localStorage.RemoveItemAsync("Email");
            await localStorage.RemoveItemAsync("Token");
            await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
            NavigationManager.NavigateTo("/home");
        }
        catch { }

    }
}

